[submodule "site"]
	path = site
	url = https://ghproxy.net/https://github.com/codecloud-dev/mox-site.git
[submodule "app"]
	path = app
	url = https://ghproxy.net/https://github.com/codecloud-dev/moxsh-terminal.git
